In [1]:
l_1 = []

In [2]:
type(l_1)

list

In [3]:
l_1 = [1,2,3,4,5]
l_1

[1, 2, 3, 4, 5]

In [4]:
l_2 = [1,"a",3.0]
l_2

[1, 'a', 3.0]

In [5]:
l_3 = list()
type(l_3)

list

In [6]:
l_3 = list([1,2,3])
l_3

[1, 2, 3]

In [7]:
l_2[0]

1

In [8]:
l_2[1]

'a'

In [9]:
l_2[1:]

['a', 3.0]

In [10]:
l_2[:] = ["this", "is a", "list"]
l_2

['this', 'is a', 'list']

In [11]:
l_4 = [1,2,3,4,5,6,7,8,9,10]

In [12]:
l_4[2:6]

[3, 4, 5, 6]

In [14]:
l_4[:6]

[1, 2, 3, 4, 5, 6]

In [20]:
del l_4[0]
l_4

[7, 8, 9, 10]

In [3]:
a = [123,345]
b = ["hello", "Mike"]
a + b

[123, 345, 'hello', 'Mike']

In [4]:
b * 2

['hello', 'Mike', 'hello', 'Mike']

In [6]:
a = [1,2,3,4,5,6,7,8]
10 not in a

True

In [1]:
s1 = [1,2]
s2 = [2,3]
s1 + s2

[1, 2, 2, 3]