In [12]:
import pandas as pd

In [13]:
l_1 = [30,31,32]
idx = ["a","b","c"]
s_1 = pd.Series(data=l_1,index=idx)
s_1

a    30
b    31
c    32
dtype: int64

In [14]:
s_1[1]

31

In [15]:
s_1[0:2]

a    30
b    31
dtype: int64

In [17]:
s_1.loc['a']

30

In [9]:
s_1.iloc[1]

31

In [10]:
s_2 = s_1.copy()
s_2["c"] = 90
s_2.iloc[1] = 9
s_2

a    30
b     9
c    90
dtype: int64

In [8]:
s_2.replace(to_replace=90, value=88, inplace=True)

In [9]:
s_2

a    30
b    31
c    88
dtype: int64

In [10]:
s_2.index

Index(['a', 'b', 'c'], dtype='object')

In [11]:
s_2.index = ["a","b","z"]
s_2

a    30
b    31
z    88
dtype: int64

In [12]:
s_2.rename(index={"a":"y"}, inplace=True)
s_2

y    30
b    31
z    88
dtype: int64

In [13]:
s_3 = pd.Series([71,131], index=["x1","x2"])
s_3

x1     71
x2    131
dtype: int64

In [14]:
s_2 = s_2.append(s_3)
s_2

y      30
b      31
z      88
x1     71
x2    131
dtype: int64

In [15]:
s_2["x3"] = 99
s_2

y      30
b      31
z      88
x1     71
x2    131
x3     99
dtype: int64

In [16]:
s_2.append(s_3, ignore_index=False)

y      30
b      31
z      88
x1     71
x2    131
x3     99
x1     71
x2    131
dtype: int64

In [17]:
s_2.append(s_3, ignore_index=True)

0     30
1     31
2     88
3     71
4    131
5     99
6     71
7    131
dtype: int64

In [18]:
s_3

x1     71
x2    131
dtype: int64

In [19]:
del s_3["x1"]
s_3

x2    131
dtype: int64

In [20]:
s_3.drop(["x2"], inplace=True)
s_3

Series([], dtype: int64)