In [1]:
import pandas as pd

In [2]:
game = pd.read_csv("./data/game_logs.csv")

C:\Users\INNOVA\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (12,13,14,15,19,20,81,83,85,87,93,94,95,96,97,98,99,100,105,106,108,109,111,112,114,115,117,118,120,121,123,124,126,127,129,130,132,133,135,136,138,139,141,142,144,145,147,148,150,151,153,154,156,157,160) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
game.head()

,date,number_of_game,day_of_week,v_name,v_league,v_game_number,h_name,h_league,h_game_number,v_score,...,h_player_7_name,h_player_7_def_pos,h_player_8_id,h_player_8_name,h_player_8_def_pos,h_player_9_id,h_player_9_name,h_player_9_def_pos,additional_info,acquisition_info
0,18710504,0,Thu,CL1,na,1,FW1,na,1,0,...,Ed Mincher,7.0,mcdej101,James McDermott,8.0,kellb105,Bill Kelly,9.0,NaN,Y
1,18710505,0,Fri,BS1,na,1,WS3,na,1,20,...,Asa Brainard,1.0,burrh101,Henry Burroughs,9.0,berth101,Henry Berthrong,8.0,HTBF,Y
2,18710506,0,Sat,CL1,na,2,RC1,na,1,12,...,Pony Sager,6.0,birdg101,George Bird,7.0,stirg101,Gat Stires,9.0,NaN,Y
3,18710508,0,Mon,CL1,na,3,CH1,na,1,12,...,Ed Duffy,6.0,pinke101,Ed Pinkham,5.0,zettg101,George Zettlein,1.0,NaN,Y
4,18710509,0,Tue,BS1,na,2,TRO,na,1,9,...,Steve Bellan,5.0,pikel101,Lip Pike,3.0,cravb101,Bill Craver,6.0,HTBF,Y

In [4]:
game.shape

(171907, 161)

In [5]:
game.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 171907 entries, 0 to 171906
Columns: 161 entries, date to acquisition_info
dtypes: float64(77), int64(6), object(78)
memory usage: 860.5 MB

In [6]:
for dts in ["float64","int64","object"]:
    sel_dtypes = game.select_dtypes(include=[dts])
    mean_b = sel_dtypes.memory_usage(deep=True).mean()
    mean_mb = mean_b/1024**2
    print("Mean memory usage for:", dts, mean_mb)

Mean memory usage for: float64 1.2947326073279748
Mean memory usage for: int64 1.1241934640066964
Mean memory usage for: object 9.514454069016855

In [7]:
import numpy as np
int_types = ["uint8","int8","int16","uint32","int32","int64"]
for it in int_types:
    print(np.iinfo(it))

Machine parameters for uint8
---------------------------------------------------------------
min = 0
max = 255
---------------------------------------------------------------

Machine parameters for int8
---------------------------------------------------------------
min = -128
max = 127
---------------------------------------------------------------

Machine parameters for int16
---------------------------------------------------------------
min = -32768
max = 32767
---------------------------------------------------------------

Machine parameters for uint32
---------------------------------------------------------------
min = 0
max = 4294967295
---------------------------------------------------------------

Machine parameters for int32
---------------------------------------------------------------
min = -2147483648
max = 2147483647
---------------------------------------------------------------

Machine parameters for int64
---------------------------------------------------------------
min = -9223372036854775808
max = 9223372036854775807
---------------------------------------------------------------

In [8]:
def m_u(pandas_data):
    if isinstance(pandas_data, pd.DataFrame):
        mem_usage_b = pandas_data.memory_usage(deep=True).sum()
    else:
        mem_usage_b = pandas_data.memory_usage(deep=True)
    mem_usage_mb = mem_usage_b/1024**2
    return "{: 03.2f}mb".format(mem_usage_mb)

In [9]:
game_int = game.select_dtypes(include=["int64"])
print(m_u(game_int))

 7.87mb

In [10]:
converted_int = game_int.apply(pd.to_numeric, downcast="unsigned")
print(m_u(converted_int))

 1.48mb

In [11]:
game_float = game.select_dtypes(include=["float64"])
converted_float = game_float.apply(pd.to_numeric, downcast="float")
print(m_u(game_float))
print(m_u(converted_float))

 100.99mb
 50.49mb

In [12]:
optimized_game = game.copy()
optimized_game[converted_int.columns] = converted_int
optimized_game[converted_float.columns] = converted_float
print(m_u(game))
print(m_u(optimized_game))

 860.50mb
 803.61mb

In [15]:
game_obj = game.select_dtypes(include=["object"]).copy()
game_obj.describe()

,day_of_week,v_name,v_league,h_name,h_league,day_night,completion,forefeit,protest,park_id,...,h_player_6_id,h_player_6_name,h_player_7_id,h_player_7_name,h_player_8_id,h_player_8_name,h_player_9_id,h_player_9_name,additional_info,acquisition_info
count,171907,171907,171907,171907,171907,140150,116,145,180,171907,...,140838,140838,140838,140838,140838,140838,140838,140838,1456,140841
unique,7,148,7,148,7,2,116,3,5,245,...,4774,4720,5253,5197,4760,4710,5193,5142,332,1
top,Sat,CHN,NL,CHN,NL,D,"19200904,,0,6,36",H,V,STL07,...,grimc101,Charlie Grimm,grimc101,Charlie Grimm,lopea102,Al Lopez,spahw101,Warren Spahn,HTBF,Y
freq,28891,8870,88866,9024,88867,82724,1,69,90,7022,...,427,427,491,491,676,676,339,339,1112,140841

In [16]:
day = game_obj.day_of_week
day.head()

0    Thu
1    Fri
2    Sat
3    Mon
4    Tue
Name: day_of_week, dtype: object

In [17]:
day_cat = day.astype("category")
day_cat.head()

0    Thu
1    Fri
2    Sat
3    Mon
4    Tue
Name: day_of_week, dtype: category
Categories (7, object): [Fri, Mon, Sat, Sun, Thu, Tue, Wed]

In [18]:
print(m_u(day))
print(m_u(day_cat))

 9.84mb
 0.16mb

In [19]:
converted_obj = pd.DataFrame()
for col in game_obj.columns:
    num_unique = len(game_obj[col].unique())
    num_total = len(game_obj[col])
    if num_unique/num_total < 0.5:
        converted_obj.loc[:,col] = game_obj[col].astype("category")
    else:
        converted_obj.loc[:,col] = game_obj[col]

In [20]:
print(m_u(game_obj))
print(m_u(converted_obj))

 751.64mb
 51.67mb

In [21]:
date = optimized_game.date
date[:10]

0    18710504
1    18710505
2    18710506
3    18710508
4    18710509
5    18710511
6    18710513
7    18710513
8    18710515
9    18710516
Name: date, dtype: uint32

In [22]:
print(m_u(date))

 0.66mb

In [23]:
optimized_game["date"] = pd.to_datetime(date, format="%Y%m%d")
optimized_game["date"]

0        1871-05-04
1        1871-05-05
2        1871-05-06
3        1871-05-08
4        1871-05-09
5        1871-05-11
6        1871-05-13
7        1871-05-13
8        1871-05-15
9        1871-05-16
10       1871-05-16
11       1871-05-17
12       1871-05-18
13       1871-05-19
14       1871-05-20
15       1871-05-20
16       1871-05-22
17       1871-05-22
18       1871-05-23
19       1871-05-24
20       1871-05-24
21       1871-05-25
22       1871-05-26
23       1871-05-26
24       1871-05-27
25       1871-05-29
26       1871-05-30
27       1871-06-01
28       1871-06-02
29       1871-06-02
            ...
171877   2016-10-01
171878   2016-10-01
171879   2016-10-01
171880   2016-10-01
171881   2016-10-01
171882   2016-10-01
171883   2016-10-01
171884   2016-10-01
171885   2016-10-01
171886   2016-10-01
171887   2016-10-01
171888   2016-10-01
171889   2016-10-01
171890   2016-10-01
171891   2016-10-01
171892   2016-10-02
171893   2016-10-02
171894   2016-10-02
171895   2016-10-02
171896   2016-10-02
171897   2016-10-02
171898   2016-10-02
171899   2016-10-02
171900   2016-10-02
171901   2016-10-02
171902   2016-10-02
171903   2016-10-02
171904   2016-10-02
171905   2016-10-02
171906   2016-10-02
Name: date, Length: 171907, dtype: datetime64[ns]

In [24]:
print(m_u(optimized_game["date"]))

 1.31mb